fastapi==0.94.1
pydantic==1.10.6
uvicorn==0.21.0
pyngrok==5.2.1
nest_asyncio==1.5.6
typing==3.7.4.3
pydub==0.25.1
python-multipart==0.0.6
pypi-json==0.3.0
https://raw.githubusercontent.com/AwaleSajil/ghc/master/ghc-1.0-py3-none-any.whl